body {
	background-color: rgb(49, 48, 48);
	color: rgb(189, 187, 187);
	font-size: 150%;
	text-align: center;	
}
#titulo {
	color: rgb(221, 221, 44)


	}
#botonSubmit {
	font-size: 130%;
	width: 120px;
	border-radius: 10px;
	background-color: rgb(221, 221, 44)
}


